.mainHome {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* --------------------
Homestart, la section en haut de la page d'accueil
________________________ */

.homeStart {
  height: 455px;
  position: relative;
}

.homeStart img {
  position: absolute;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  font-size: 34px;
  object-position: center 30%; /* centre horizontal, vertical 30% */
}

.startSell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  position: relative;
  background-color: white;
  width: 360px;
  height: 220px;
  box-shadow: 0 0 2px #1111113d;
  font-size: 34px;
  left: 200px;
  top: 100px;
}

.startSell button {
  background-color: #44b1ba;
  color: white;
  height: 45px;
  width: 187px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 32px;
  border: none;
}

/* --------------------
Chaque article 
________________________ */

.newOffers {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  gap: 10px;
}

.newOffers a {
  text-decoration: none;
  color: inherit;
}

.ownerClothe {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.ownerClothe p {
  font-size: 12px;
  color: #999999;
}
.ownerClothe img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 30px;
}

.pictureClothe {
  width: 230px;
  height: 360px;
}

.priceHome {
  font-size: 14px;
  color: black;
  margin-top: 10px;
}

.size,
.brand {
  font-size: 12px;
  color: #999999;
}

.down {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 30px;
}
