header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.containerHeader {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 0;

  display: flex;
  align-items: center;  
  justify-content: space-between; 
  gap: 20px;
}

/* ---- SEARCH BAR ---- */

.searchContainer {
  position: relative;
  flex: 1; 
  max-width: 630px;
}

.searchContainer input {
  width: 100%;
  height: 35px;
  padding-left: 35px;
  border-radius: 10px;
  border: none;
  background-color: #f5f6f7;
  color: #333;
  font-size: 14px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: grey;
  font-size: 14px;
}

/* ---- BUTTONS ---- */

.buttonsOfHeader {
  display: flex; 
  gap: 10px; 
}

.buttonsOfHeader button,
.sellyourobjects {
  border-radius: 10px;
  height: 30px;
  width: 115px;
  font-size: 12px;
}

.buttonsOfHeader button {
  color: #44b1ba;
  border: 1px solid #44b1ba;
  background-color: white;
}

.sellyourobjects {
  color: white;
  background-color: #44b1ba;
  border: none;
}
